
body{
    
    padding: 0;
    margin: 0;
    background:#302f2f;
    }
    /* header */
    .navbar{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:20px 40px 10px 40px;
    }
    .navlinks{
        display:flex;
        margin:0 20px;
    }
    .navlinks a{
        text-decoration:none;
        background:lightgreen;
        padding:10px 20px;
    }
        /* color-background */
    body{
        position:relative;
    }
    .baack-colors{
        display:flex;
    }
    .home-colors1{
        position:absolute;
    }
    .home-colors2{
        position:absolute;
    }
        /* hero */
    .hero{
        text-align:center;
        line-spacing:1px;
    }
    .search-bar{
       
        border-radius:100px;
        padding:20px 40px;
       
    }
    .student{
        text-align:center;
    }
    .flex{
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .info{
        display:flex;
    }